

body {
  margin: 0; /* Remove default margin from body */
  background-color: #000000;
}

.full-bg {
  background-color: #000000;
  overflow-scrolling: auto;
  overflow: hidden;
  width: 100%;
  /*display: flex;*/
  justify-content: center;

}

.hpcon {
  background-color: #000000;
  overflow: hidden;
  /*width: 1152px;*/
  /*height: 700px;*/
  position: relative;
}

.web_bg {
  background-color: #000000;
  min-height: 100vh; /* Set a minimum height of 100% of the viewport height */
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
}
/*.web_bg {*/
/*  background-color: #000000;*/
/*  width: 100%;*/
/*  height: auto;*/
/*  !*height: 100vh;*!*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  overflow: auto; !* Use overflow-y instead of overflow to specify vertical scrolling *!*/
/*}*/



.contact {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-scrolling: auto;

}

/*.web_bg .div {*/
/*  background-color: #000000;*/
/*  overflow: auto;*/
/*  width: 100%;*/
/*  max-width: 1152px;*/
/*}*/

.web_bg .main_group {
  position: relative;
  width: 983px;
  height: 388px;
  justify-content: center;
  margin-top: 100px; /* Add margin-top to move main_group 60px below the top */
  margin-bottom: 10px;
}

.web_bg .pic-cobby {
  position: absolute;
  width: 320px;
  height: 320px;
  top: 0;
  left: 0;
  background-image: url(assets_op/cobby.png);
  background-size: cover;
  background-position: 50% 50%;
}


.web_bg .home-main {
position: absolute;
width: 745px;
height: 187px;
top: 67px;
left: 116px;
}
.web_bg .overlap-group {
position: relative;
width: 747px;
height: 187px;
}
.web_bg .emoji-hh {
position: absolute;
width: 150px;
height: 150px;
top: 0;
left: 490px;
background-image: url(assets_op/hh.png);
background-size: cover;
background-position: 50% 50%;
}
.web_bg .home-text-main {
position: absolute;
width: 747px;
height: 154px;
top: 33px;
left: 0;


}


.web_bg .text_mm {
  position: absolute;
  width: 745px;
  top: 0;
  left: 0;
  font-family: var(--font-home-font-family);
  font-weight: var(--font-home-font-weight);
  text-shadow: 0px 4px 4px #00000040;
  color: #ffffff;
  font-size: var(--font-home-font-size);
  text-align: center;
  letter-spacing: var(--font-home-letter-spacing);
  line-height: var(--font-home-line-height);
  font-style: var(--font-home-font-style);


}

@media (max-width: 768px) {
        .web_bg .text_mm  {
          font-size: 3.5rem;
        }
      }





.text_mm span{
  opacity: 0;
  animation: reveal 0.5s forwards var(--d);
}

@keyframes reveal {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    translate: none;
  }
}






.web_bg .home-text-main .htmain {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  position: absolute;

  width: 745px;
  /*top: 0;*/
  /*left: 0;*/
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--font-home-font-family);
  font-weight: var(--font-home-font-weight);
  color: #ffffff;

  font-size: var(--font-home-font-size);
  /*text-align: center;*/
  letter-spacing: var(--font-home-letter-spacing);
  line-height: var(--font-home-line-height);
  font-style: var(--font-home-font-style);
}

.web_bg .home-text-main .htmain:nth-child(1) {
  top: 25px;
  right: 0px;
}
/*.web_bg .pic-hh {*/
/*  top: 0;*/
/*  right: 3px; !* Adjust the left position to 3px *!*/
/*  position: absolute; !* Use position: absolute to position the element *!*/
/*}*/
.web_bg .pic-hh img {
  position: absolute;
  top: 0;
  right: 120px;
}

.web_bg .htmain:first-child {
  padding-right: 3px;
}

.web_bg .home-text-main .htmain:nth-child(2) {
  top: 110px; /* 두 번째 줄의 위치를 조절*/
  left: 0;
}

.web_bg .home-text-body {
  position: absolute;
  width: 559px;
  height: 85px;
  top: 275px;
  left: 209px;
}

.web_bg .home-text-body p {
  position: absolute;
  width: 557px;
  top: 0;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--font-home-body-font-family);
  font-weight: var(--font-home-body-font-weight);
  color: #ffffff;
  font-size: var(--font-home-body-font-size);
  text-align: center;
  letter-spacing: var(--font-home-body-letter-spacing);
  /*line-height: var(--font-home-body-line-height);*/
  line-height: 1.7em;
  font-style: var(--font-home-body-font-style);
}

.web_bg .pic {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 188px;
  left: 783px;
  background-image: url(assets_op/cobby2.png);
  background-size: cover;
  background-position: 50% 50%;
}

/*home buttons*/
.web_bg .buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 322px;
  height: 49px;
  top: 525px;
  /*top: 70%;*/
  left: 415px;
  /*left: 36%*/
}

.c-buttons{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 322px;
  height: 49px;
  /*top: 525px;*/
  top: 85%;
  /*left: 415px;*/
  left: 36%
}

 .about-me {
  width: 115px;
  height: 49px;
  left: 0;
  position: absolute;
  top: 0;
  height: 49px;
  /*background-color: #fdb827;*/
  background:linear-gradient(100deg, #ffae00, #f9e866);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.37);
  border-top: 2px solid rgba(255, 255, 255, 0.17);
  border-right: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}

.text-wrapper-2 {
  position: absolute;

  top: 15px;
  left: 22px;
  font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.button_portfolios {
  width: 200px;
  height: 49px;
  left: 124px;
  position: absolute;
  top: 0;
  background:linear-gradient(135deg, #38424c, #b67ed6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.37);
  border-top: 2px solid rgba(255, 255, 255, 0.17);
  border-right: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}

.text-wrapper-3 {
  position: absolute;
  top: 12px;
  left: 13px;
  font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
/*home buttons end*/

/*responsible navbar*/
.nav-var {
            width: 100%;
            max-height: auto;
            min-height: 51px;
            border: 1px solid rgba(255, 255, 255, 0.08);
            background: linear-gradient(159deg, rgba(255, 255, 255, 0.40) -100%, rgba(255, 255, 255, 0.04) 100%);
            box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;
            backdrop-filter: blur(21px);
            font-family: Pretendard, AppleSDGothicNeo, sans-serif;
            font-weight: 700;
            color: #ffffff;
            font-size: 24px;
            text-align: center;
            letter-spacing: 0;
            line-height: 25px;
        }

.navbar-toggler {
      border: None;
    .navbar-text {
                    /*font-family: "Inter-Bold", Helvetica;*/
                    font-weight: 700;
                    color: #ffffff;
                    /*font-size: 14px;*/
                    text-align: center;
                    letter-spacing: 0;
                    line-height: 0px;
                    margin: 0px;
                }
      }

.navbar-nav .nav-link:hover {
            color: #e5c7ca; /* 마우스 호버 시 색상 변경 */
        }



/*navvar end*/

.home .group {
  position: absolute;
  width: 43px;
  height: 17px;
  top: 0;
  left: 0;
}

/*footer*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: auto;
  height: 22px;
  width: auto;
  margin-right: 30px;
}
/*footer end*/


/*about page의 main loopy, text start*/
/*루피+자기소개 큰 문구*/
.main{
  width: 88%;
  /*background-color: #e5c7ca;*/
  margin-top: 150px;
  right: 8%;

}
/*about page의 루피 img*/
.main_image{
  max-width: 290px;
  min-width: 270px;

}

.about-main-image-1{
  width: 50px;
  height: auto;
}

.about-main-image-2{
  width: 120px;
  height: auto;
  position: relative;
  right: 10px;
}




.main_text{
  margin-top : 50px;
  max-font-size: 55px;
  min-font-size: 32px;
  /*width: 702px;*/
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--font-about-font-family);
  font-size: var(--font-home-font-size);
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--font-about-letter-spacing);
  line-height: var(--font-about-line-height);
  font-style: var(--font-about-font-style);
  color: white;
  /*position: relative;*/
  margin-left: 20px; /* Add some left margin to separate text from the image */
}

.yellow_txt{
  color: #FDB827;
}

.white_txt{
  color: #FFFFFF;
}
/*about page의 main loopy, text end*/

/*about page의 글씨 body part start*/
.about_body {
  width: 91.4%;
  display: flex;
  justify-content: center;

}
/*about body text*/
.about_body_text_m{
  position: absolute;
  color:#FFFFFF;

  font-family: var(--font-about-body-m-font-family);
  font-size: var(--font-about-body-m-font-size);
  font-weight: var(--font-about-body-m-font-weight);
  line-height: var(--font-about-body-m-line-height) ;
  letter-spacing: var(--font-about-body-m-letter-spacing);
}

.about_body_text_b{
  position: absolute;
  color: #FFFFFF;

  font-family: var(--font-about-body-b-font-family);
  font-size: var(--font-about-body-b-font-size);
  font-weight: var(--font-about-body-b-font-weight);
  letter-spacing: normal;
}

/*portfolios page begins*/
.portfolios {
  /*background-color: #000000;*/
  /*width: 100%;*/
  /*height: 100vh;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*overflow-scrolling: auto;*/
}

.filebox {
  display: flex;
  position: relative;

  justify-content: space-between; /* Position items at both ends */
  align-items: center;
  /*justify-content: space-evenly;*/
  width: 47%;
  height: 181px;
  border: 1px;
  border-radius: 19px;
  /*background-color: #9ec5fe;*/
}

.portfolios_file {

  /*width: 469px;*/
  height: 181px;
  /*top: 0;*/


  border-radius: 19px;
  border: 1px solid rgba(255, 255, 255, 0.08);

  background: linear-gradient(159deg, rgba(255, 255, 255, 0.40) -100%, rgba(255, 255, 255, 0.04) 100%);
  box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(21px);
  font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}


































.box .emoji-hh {
position: absolute;
width: 150px;
height: 150px;
top: 0;
left: 490px;
background-image: url(./assets_op/hh.png);
background-size: cover;
background-position: 50% 50%;
}