:root {
  --basicwhite: rgba(255, 255, 255, 1);
  --basicyellow: rgba(253, 184, 39, 1);
  --font-home-font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  --font-home-font-weight: 900;
  --font-home-font-size: 64px;
  --font-home-letter-spacing: 0px;
  --font-home-line-height: normal;
  --font-home-font-style: normal;
  --font-about-font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  --font-about-font-weight: 700;
  --font-about-font-size: 55px;
  --font-about-letter-spacing: 0px;
  --font-about-line-height: normal;
  --font-about-font-style: normal;
  --font-home-body-font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  --font-home-body-font-weight: 600;
  --font-home-body-font-size: 16px;
  --font-home-body-letter-spacing: 0px;
  --font-home-body-line-height: normal;
  --font-home-body-font-style: normal;
  --font-about-body-b-font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  --font-about-body-b-font-weight: 700;
  --font-about-body-b-font-size: 12px;
  --font-about-body-b-letter-spacing: 0px;
  --font-about-body-b-line-height: normal;
  --font-about-body-b-font-style: normal;
  --font-about-body-m-font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  --font-about-body-m-font-weight: 500;
  --font-about-body-m-font-size: 12px;
  --font-about-body-m-letter-spacing: 0px;
  --font-about-body-m-line-height: normal;
  --font-about-body-m-font-style: normal;
  --font-contact-body-sm-font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  --font-contact-body-sm-font-weight: 600;
  --font-contact-body-sm-font-size: 16px;
  --font-contact-body-sm-letter-spacing: 0px;
  --font-contact-body-sm-line-height: normal;
  --font-contact-body-sm-font-style: normal;
  --font-contact-title-font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  --font-contact-title-font-weight: 700;
  --font-contact-title-font-size: 48px;
  --font-contact-title-letter-spacing: 0px;
  --font-contact-title-line-height: normal;
  --font-contact-title-font-style: normal;
  --mobile-home-font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  --mobile-home-font-weight: 900;
  --mobile-home-font-size: 55px;
  --mobile-home-letter-spacing: 0px;
  --mobile-home-line-height: normal;
  --mobile-home-font-style: normal;
  --mobile-home-body-font-family: Pretendard, AppleSDGothicNeo, sans-serif;
  --mobile-home-body-font-weight: 600;
  --mobile-home-body-font-size: 16px;
  --mobile-home-body-letter-spacing: 0px;
  --mobile-home-body-line-height: normal;
  --mobile-home-body-font-style: normal;
}
